body {
  background-color: #313e61;
  font-family: 'Archivo', serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  color: #1e263b;
}

div {
  padding: 20px;
}

h1 {
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

/* Introduction sits to right of screen beneath nav bar */
.intro-about-me {
  box-sizing: border-box;
  float: right;
  width: 30%;
  background-color: #81abbc;
  padding: 0px;
}

/* Div flexbox container for article overviews to sit in */
.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  float: left;
  width: 70%;
}

/* set size/color of article overview box */
.article {
  background-color: #81abbc;
  border: #fbd2c9, solid, 5px;
  width: 200px;
  margin: 10px;
}

/* Center images and make sure they keep their aspect ratio while fitting
inside set width & height */
.article-img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.navbar {
  background-color: #774a62;
  width: 100%;
  font-weight: 500;
  padding: 20px 0px 20px 0px;
}

a {
  background-color: #fbd2c9;
  padding: 10px;
  margin: 5px;
  width: 100px;
  color: #774a62;
  text-decoration: none;
  display: inline;
}

a:hover {
  background-color: #81abbc;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  /* placeholder */
}

/* tablets */
@media only screen and (max-width: 919px) {
  .intro-about-me {
    display: none;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .intro-about-me {
    display: none;
  }
}
