:root {
  --base-dark: #2a3654;
  --base-mid: #81abbc;
  --base-light: #c1d6de;
  --accent-dark: #774a62;
  --accent-mid: #fbd2c9;
  --accent-light: #fef0ee;
}

/* -- Default font and layout settings-- */

body {
  background-color: var(--base-dark);
  color: var(--base-dark);
  font-family: 'Archivo', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  box-sizing: border-box;
  margin: 0px;
}

h1 {
  font-weight: 700;
  font-size: 33px;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

h4 {
  font-weight: 500;
  font-size: 25px;
  text-align: left;
  margin: 0px;
}

p,
li,
table {
  font-weight: 450;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

table,
th,
td {
  background-color: var(--accent-light);
  border: 2px solid;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
  width: 50%;
}

ol {
  text-align: left;
  margin: 0px;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

/* -- Page layout settings -- */

#navbar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: var(--accent-dark);
  position: sticky;
  top: 0;
  align-content: center;
}

/* Full page grid container index page*/
#page-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
}

/* Introduction sits to right of screen beneath nav bar index page */
#introduction-box {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: var(--base-mid);
  padding: 20px;
}

/* flexbox container for article overviews to sit in index page */
#article-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

/* Container for post on blog pages */
#blog-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--base-light);
  padding: 0px 20px 0px 20px;
}

/* Container for recent posts on index page */
#recent-post-box {
  grid-column: 1 / 2;
  grid-row: 2 / 13;
  background-color: var(--base-mid);
  padding: 20px;
}

/* set size/color of article overview box index page */
.article {
  background-color: var(--base-mid);
  border: var(--accent-mid) solid 5px;
  margin: 10px;
  align-self: stretch;
  padding: 20px;
  width: 250px;
  box-shadow: 8px 8px 5px #1d253a;
}

/* settings for nav link to about me page (only visible on mobile/tablets) */
#nav-about-me {
  display: none;
}

/*-- Dropdown menu -- */

.dropdown-menu {
  overflow: hidden;
  display: inline-block;
  padding: 8px;
}

/* Style dropdown button */
.dropdown-button {
  background-color: var(--accent-mid);
  margin: 0px;
  padding: 10px;
  width: 200px;
  color: var(--accent-dark);
  text-align: center;
  outline: none;
  border: none;
  font-size: 1.5vw;
  font-weight: 500;
}

.dropdown-links {
  display: none;
  position: absolute;
  background-color: var(--accent-mid);
  width: 200px;
  z-index: 1;
}

.dropdown-links button {
  float: none;
  display: block;
  text-align: center;
  width: 200px;
  margin: 0px;
  padding: 10px;
  background-color: var(--accent-mid);
  text-decoration: none;
  color: var(--accent-dark);
  font-size: 1.2vw;
  border: none;
}

.dropdown-menu:hover .dropdown-links {
  display: block;
}

button:hover {
  background-color: var(--base-light);
}

/* Styling for anchor links */
.pale-rectangle-link {
  background-color: var(--accent-mid);
  padding: 10px;
  margin: 10px;
  width: 150px;
  color: var(--accent-dark);
  text-decoration: none;
  float: left;
  font-size: 1.5vw;
  font-weight: 500;
}

/*-- Styling for 'clickybutton' on js fundamental blog-- */

/* Before button clicked */
.black-button {
  background-color: black;
  color: rgb(63, 152, 240);
  font-size: 1.5vw;
  font-weight: bolder;
  display: block;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  border: 5px double var(--accent-light);
}

/* After button clicked */
.danger-button {
  background-color: red;
  color: yellow;
  font-size: 3vw;
  display: block;
  padding: 20px;
  text-decoration: none;
  max-width: 400px;
  margin: auto;
}

.centered-box {
  text-align: center;
  padding: 20px;
}

/* Center images and make sure they keep their aspect ratio while fitting
inside set width & height. Used in article overviews on index page */
.article-img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.small-img {
  width: 70%;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.full-width-img {
  width: 100%;
}

.center-img-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.rounded-img {
  border-radius: 20%;
  width: 50%;
}

/* Keeps divs underneath previous div when previous div has floating elements */
.stay-below {
  clear: right;
  padding-top: 20px;
  text-indent: initial;
}

a:hover {
  background-color: var(--base-light);
}

.dark-border {
  border: 5px solid var(--base-dark);
  margin: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}

/*-- widescreen displays-- */
@media only screen and (min-width: 920px) {
  /* Setting size/layout for page sections for widescreens */
  #page-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #introduction-box {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  #article-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #blog-container {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 0px 40px 0px 40px;
  }

  #navbar {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    padding: 5px;
    z-index: 1;
  }

  .small-img {
    max-width: 70%;
  }

  .danger-button {
    max-width: 600px;
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  /* Setting size/layout for page sections for tablets */
  #page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;
  }

  #article-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #introduction-box {
    display: none;
  }

  #recent-post-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #navbar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 4px;
    position: static;
  }

  #blog-container {
    grid-column: 1 / 3;
    grid-row: 2 / 21;
  }

  /* settings for nav link to about me page (only visible on mobile/tablets) */
  #nav-about-me {
    display: inline-block;
    font-size: 25px;
    width: 110px;
    text-align: center;
    font-weight: 400;
    margin: 8px;
    padding: 10px;
  }

  /* Table settings */

  table {
    width: 100%;
    margin: 0px;
    table-layout: fixed;
  }

  /* Setting font sizes for tablets */

  td,
  th {
    padding: 3px;
    margin: 0px;
    height: auto;
  }

  p,
  td,
  th,
  li {
    font-size: 25px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 30px;
    font-weight: 500;
  }

  .article-img {
    width: 250px;
    height: 250px;
  }

  .small-img {
    width: 100%;
    text-align: center;
  }

  .pale-rectangle-link {
    padding: 5px;
    margin: 5px;
    width: 150px;
    font-size: 25px;
    font-weight: 400;
  }

  .article {
    max-width: 250px;
  }

  .dark-border {
    border: 2px solid var(--base-dark);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  /* Style dropdown button */
  .dropdown-button {
    font-size: 27px;
    width: 160px;
    font-size: 25px;
  }

  .dropdown-links button {
    font-size: 24px;
    width: 160px;
  }

  .dropdown-links {
    width: 160px;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  /* Setting size/layout for page sections for phones*/
  #page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  #navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 8px 0px 8px 8px;
    text-align: center;
  }

  #article-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #blog-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0px 20px 0px 20px;
  }

  .article {
    max-width: 120px;
    padding: 10px;
  }

  #introduction-box {
    display: none;
  }

  #recent-post-box {
    display: none;
  }

  /* settings for nav link to about me page (only visible on mobile/tablets) */
  #nav-about-me {
    display: inline-block;
    font-size: 18px;
    width: 95px;
    text-align: center;
    font-weight: 400;
    margin: 8px 0px 8px 8px;
    padding: 6px;
  }

  /* Setting default font sizes for phones */
  p,
  li {
    font-size: 18px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 20px;
  }

  .article p {
    padding: 0px;
    margin: 8px 0px 10px 0px;
    line-height: normal;
    font-size: 16px;
  }

  .article h1 {
    padding: 0px;
    margin: 4px;
    font-size: 20px;
  }

  /* Setting image sizes for phones */
  .article-img {
    width: 110px;
    height: 110px;
  }

  .small-img {
    width: 100%;
    text-align: center;
  }

  .pale-rectangle-link {
    padding: 5px;
    margin: 0px;
    max-width: 90px;
    font-size: 15px;
  }

  .dark-border {
    border: 2px solid var(--base-dark);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .black-button {
    font-size: 18px;
    padding: 5px;
  }

  .danger-button {
    font-size: 25px;
    padding: 5px;
    max-width: 300px;
  }

  /* Dropdown menu */
  .dropdown-menu {
    overflow: hidden;
    display: inline-block;
  }

  /* Style dropdown button for phones */
  .dropdown-button {
    margin: 0px;
    padding: 5px 2px 5px 2px;
    width: 95px;
    font-size: 18px;
    font-weight: 400;
  }

  .dropdown-links {
    width: 95px;
  }

  .dropdown-links button {
    width: 95px;
    font-size: 16px;
  }

  /* Table settings */

  table {
    width: 100%;
    padding: 0px;
    table-layout: fixed;
  }

  td,
  th {
    font-size: 18px;
    padding: 4px;
  }
}
