:root {
  --base-dark: #2a3654;
  --base-mid: #81abbc;
  --base-light: #c1d6de;
  --accent-dark: #774a62;
  --accent-mid: #fbd2c9;
  --accent-light: #fef0ee;
}

body {
  background-color: var(--base-dark);
  color: var(--base-dark);
  font-family: 'Archivo', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  box-sizing: border-box;
  margin: 0px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 37px;
  text-align: center;
}

h3 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 30px;
  text-align: left;
}

p,
li,
table {
  font-weight: 450;
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

table,
th,
td {
  background-color: var(--accent-light);
  border: 2px solid;
  border-collapse: collapse;
  padding: 10px;
}

table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
  width: 50%;
}

ol {
  text-align: left;
  margin: 0px;
  padding-left: 20px;
}

.light-blue-text {
  color: lightblue;
}

.orange-text {
  color: #ffa756;
}

.white-text {
  color: white;
}

.blue-text {
  color: #3384dc;
}

.yellow-text {
  color: #ffffbf;
}

.black-background {
  background-color: black;
}

.black-button {
  background-color: black;
  color: rgb(63, 152, 240);
  font-size: 1.5vw;
  font-weight: bolder;
  display: block;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  border: 5px double var(--accent-light);
}

.danger-button {
  background-color: red;
  color: yellow;
  font-size: 3vw;
  display: block;
  padding: 20px;
  text-decoration: none;
  max-width: 400px;
  margin: auto;
}

.centered-box {
  text-align: center;
  padding: 20px;
}

/* Full page grid container index page*/
#page-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto;
}

/* Introduction sits to right of screen beneath nav bar index page */
#introduction-box {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: var(--base-mid);
  padding: 20px;
}

/* Div flexbox container for article overviews to sit in index page */
#article-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

/* Container for post on blog pages */
#blog-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--base-light);
  padding: 0px 20px 0px 20px;
}

/* set size/color of article overview box index page */
.article {
  background-color: var(--base-mid);
  border: var(--accent-mid) solid 5px;
  margin: 10px;
  align-self: stretch;
  padding: 20px;
  width: 250px;
  box-shadow: 8px 8px 5px #1d253a;
}

/* Sets line height etc for text blocks in blog posts */
.long-text {
  text-indent: 5%;
}

/* Center images and make sure they keep their aspect ratio while fitting
inside set width & height */
.article-img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.small-img {
  width: 70%;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}

.full-width-img {
  width: 100%;
}

.stay-below {
  clear: right;
  padding-top: 20px;
  text-indent: initial;
}

#top-post-box {
  grid-column: 1 / 2;
  grid-row: 2 / 13;
  background-color: var(--base-mid);
  padding: 20px;
}

#navbar {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: var(--accent-dark);
  position: sticky;
  top: 0;
  align-content: center;
}

.dropdown-menu {
  display: none;
}

.pale-rectangle-link {
  background-color: var(--accent-mid);
  padding: 10px;
  margin: 10px;
  width: 150px;
  color: var(--accent-dark);
  text-decoration: none;
  float: left;
  font-size: 1.5vw;
  font-weight: 500px;
}

a:hover {
  background-color: var(--base-light);
}

.dark-border {
  border: 5px solid var(--base-dark);
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  #page-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  #introduction-box {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  #article-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #blog-container {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    padding: 0px 40px 0px 40px;
  }
  #navbar {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    padding: 5px;
  }

  .small-img {
    max-width: 70%;
  }

  .danger-button {
    max-width: 600px;
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  #page-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }

  #article-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #introduction-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  #top-post-box {
    display: none;
  }

  #navbar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 2px;
    position: static;
  }

  #blog-container {
    grid-column: 1 / 3;
    grid-row: 2 / 21;
  }

  table {
    width: 90%;
  }

  td,
  th {
    font-size: 16px;
  }

  p,
  td,
  th,
  li {
    font-size: 18px;
  }

  h1 {
    font-size: 4.5vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  h3 {
    font-size: 3vw;
  }

  h4 {
    font-size: 2.5vw;
    font-weight: 500;
  }

  .article-img {
    width: 250px;
    height: 250px;
  }

  .small-img {
    width: 100%;
    text-align: center;
  }

  .pale-rectangle-link {
    background-color: var(--accent-mid);
    padding: 5px;
    margin: 5px;
    width: 150px;
    color: var(--accent-dark);
    text-decoration: none;
    float: left;
    font-size: 3vw;
    font-weight: 400;
  }

  .article {
    max-width: 250px;
  }

  .dark-border {
    border: 2px solid var(--base-dark);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  #page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  #navbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 5px;
  }

  #article-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .article {
    max-width: 120px;
    padding: 10px;
  }

  #introduction-box {
    display: none;
  }

  #blog-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0px 20px 0px 20px;
  }

  #top-post-box {
    display: none;
  }

  .pale-rectangle-link {
    background-color: var(--accent-mid);
    padding: 5px;
    margin: 0px;
    width: 80px;
    color: var(--accent-dark);
    text-decoration: none;
    text-align: left;
    float: left;
    font-size: 4vw;
  }
  /* Remove horizontal menu */
  .horizontal-menu {
    display: none;
  }

  /* Show dropdown menu */
  .dropdown-menu {
    float: right;
    overflow: hidden;
    display: block;
  }

  /* Style dropdown button */
  .dropdown-button {
    background-color: var(--accent-mid);
    padding: 5px;
    margin: none;
    min-width: 100px;
    color: var(--accent-dark);
    text-align: center;
    outline: none;
    border: none;
    font-size: 18px;
  }

  .dropdown-links {
    display: none;
    position: absolute;
    background-color: var(--accent-dark);
    min-width: 100px;
    z-index: 1;
  }

  .dropdown-links a {
    float: none;
    display: block;
    text-align: center;
    min-width: 100px;
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-color: var(--accent-light);
    text-decoration: none;
    color: var(--accent-dark);
    font-size: 16px;
  }

  .dropdown-menu:hover .dropdown-links {
    display: block;
  }

  p,
  li {
    font-size: 18px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 19px;
  }

  table {
    width: 100%;
  }

  td,
  th {
    font-size: 18px;
  }

  .article-img {
    width: 110px;
    height: 110px;
  }

  .small-img {
    width: 100%;
    text-align: center;
  }

  .dark-border {
    border: 2px solid var(--base-dark);
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .black-button {
    font-size: 18px;
    padding: 5px;
  }

  .danger-button {
    font-size: 25px;
    padding: 5px;
    max-width: 300px;
  }
}
